.box {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  background: padding-box padding-box rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px;
  z-index: 1;
  padding: 5px;
  box-sizing: border-box;
}

.filter {
  position: absolute;
  bottom: 52px;
  left: 24px;
  max-width: calc(100vw - 110px);
}

.filter-inner {
  display: flex;
  align-items: flex-end;
}

.hidden {
  height: 34px;
  overflow: hidden;
}

.hidden .filter-inner {
  align-items: flex-start;
}

.hidden div {
  position: relative;
}

.category-show-btn {
  padding: 2px !important;
  width: auto !important;
  height: auto !important;
  display: flex;
  align-items: center;
}

.search {
  position: absolute;
  top: 10px;
  right: 10px;
  width: calc(100vw - 100px);
}

.btn-grp a:not(:last-child) button {
  margin-bottom: 16px;
}
