.box {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  background: padding-box padding-box rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px;
  z-index: 1;
  padding: 5px;
  box-sizing: border-box;
}

.filter {
  position: absolute;
  bottom: 46px;
  left: 24px;
  width: calc(100vw - 110px);
}

.search {
  position: absolute;
  top: 10px;
  right: 10px;
  width: calc(100vw - 100px);
}

.btn-grp a:not(:last-child) button {
  margin-bottom: 16px;
}
