.search {
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100vw - 24px);
  max-width: 500px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.search > span {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px;
  border-radius: 6px !important;
  flex: 1 1 0;
}

.category-filter-btn {
  width: 36px !important;
  height: 36px;
  margin-left: 5px;
}

.drawer :global(.ant-drawer-content-wrapper) {
  max-width: 300px;
}

.drawer :global(.ant-drawer-body) {
  padding-top: 0px !important;
  padding-bottom: 12px !important;
  background-color: white;
}
