body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.default {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}

.leaflet-container {
  z-index: 0;
}

.leaflet-popup-tip-container {
  display: none;
}

.leaflet-popup {
  margin-left: 10px;
  width: 300px;
}

.pointer {
  cursor: pointer;
}
